.slider-container {
    width: 70%;
    overflow: hidden;
    border-radius: 8px;
}

.slide {
    display: none;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
    border-radius: 8px;

}

img {
    max-width: 100px;
    height: auto;
}

.imgSlide{ 
    border-radius: 81px;
}

button {
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}